* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.content{
    background-color: deeppink;
    margin: 0.4rem;

}
.C1{
    grid-column: span 5;
}

.C2 {
    grid-area: span 3/span 3;
}

.C3 {
    grid-row: span 3;
}
.C4 {
    grid-row: span 3;
}
.C5{
    grid-column: span 5;
}