* {
    box-sizing: border-box;
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "C1 C1 C1 C1"
    "C2 C3 C4 C4"
    "C2 C5 C5 C6"
    "C2 C7 C8 C9"
    "C2 C10 C10 C10";

}

.content{
    background-color: yellow;
    border: 2px solid;
    margin: 0.40rem;
}
.C1{
    grid-area: C1;
}

.C2{
    grid-area: C2;
}
.C3{
    grid-area: C3;
}
.C4{
    grid-area: C4;
}
.C5{
    grid-area: C5;
}
.C6{
    grid-area: C6;
}
.C7{
    grid-area: C7;
}
.C8{
    grid-area: C8;
}
.C9{
    grid-area: C9;
}
.C10{
    grid-area: C10;
}